body {
    color: #333;
    padding-left: 100px;
}

div.number {
    text-align: right;
}

div.latest_reading {
    background: lightgrey;
}

div.ferginzey_title {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: larger;
    font-weight: bold;
    color: #333;
}

div.env_reading_title {
    font-weight: bold;
}

div.env_reading {
    margin-left: 15px;
}

div.env_title {
    display: inline-block;
    font-weight: bold;
    min-width: 90px;
}

div.env_value {
    display: inline-block;
}
