<!doctype html>
<html lang="en">
<head>
    <title>Ferginzeys' Home - Daily Environment Data</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="b{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ferginzey.css') }}"/>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Frappe chart -->
    <script type="module" src="https://unpkg.com/xtal-json-editor@0.0.39/xtal-json-editor.js?module"></script>
    <script type="module" src="https://unpkg.com/p-et-alia@0.0.47/p-et-alia.js?module"></script>
    <script type="module" src="https://unpkg.com/xtal-json-merge@0.2.37/xtal-json-merge.js?module"></script>
    <script type="module" src="https://unpkg.com/xtal-frappe-chart@0.0.44/xtal-frappe-chart.js?module"></script>
</head>
<body>
<div class="ferginzey_title">Ferginzeys' Daily Summary</div>
<a href="/homeServer">Home page</a>
<a href="/homeServer/hourlySummary">Hourly Summary</a>
<div class="table active" style="padding-left: 100px">
    <div class="row">
        <div class="col-sm-1 number">Location</div>
        <div class="col-sm-2 number">Date</div>
        <div class="col-sm-1 number">Min Temp</div>
        <div class="col-sm-1 number">Max Temp</div>
        <div class="col-sm-1 number">Min Hum</div>
        <div class="col-sm-1 number">Max Hum</div>
        <div class="col-sm-1 number">Min Press</div>
        <div class="col-sm-1 number">Max Press</div>
    </div>
    {% for envrow in env_summary %}
        <div class="row">
            <div class="col-sm-1 number">{{envrow.sensor_location}}</div>
            <div class="col-sm-2 number">{{envrow.sample_timestamp.strftime('%Y-%m-%d')}}</div>
            <div class="col-sm-1 number">{{envrow.min_temperature}}</div>
            <div class="col-sm-1 number">{{envrow.max_temperature}}</div>
            <div class="col-sm-1 number">{{envrow.min_humidity}}%</div>
            <div class="col-sm-1 number">{{envrow.max_humidity}}%</div>
            <div class="col-sm-1 number">{{envrow.min_pressure}}</div>
            <div class="col-sm-1 number">{{envrow.max_pressure}}</div>
        </div>
    {% endfor %}
</div>
<div>
    <h3>Daily Temperature Summary</h3>
    <xtal-insert-json input="[]">
        <script type="application/json">
            [
                {
                    "title": "My Awesome Chart",
                    "data": {
                        "labels": [
                            {% for envrow in env_summary %}{%if (loop.index0 != 0)%},{% endif %} "{{envrow.sample_timestamp.strftime('%Y-%m-%d')}}"{% endfor %}
                        ],

                        "datasets": [
                            {
                                "name": "Min Temp", "color": "light-blue",
                                "values": [
                                    {% for envrow in env_summary %}{%if (loop.index0 != 0)%},{% endif %} {{envrow.min_temperature}}{% endfor %}
                                ]
                            },
                            {
                                "name": "Max Temp", "color": "red",
                                "values": [
                                    {% for envrow in env_summary %}{%if (loop.index0 != 0)%},{% endif %} {{envrow.max_temperature}}{% endfor %}
                                ]
                            }
                        ]
                    },
                    "type": "line",
                    "height": 250,
                    "isNavigable": true
                }
            ]
        </script>
    </xtal-insert-json>
    <p-d on="merged-prop-changed" prop="data" val="target.value"></p-d>
    <xtal-frappe-chart></xtal-frappe-chart>
    <p-d on="selected-element-changed" prop="input" val="target.value"></p-d>
    <xtal-json-editor options="{}" height="300px"></xtal-json-editor>
</div>
</body>
</html>