<!doctype html>
<html lang="en">
<head>
    <title>Ferginzeys' Home - Daily Environment Data</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ferginzey.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.min.css') }}"/>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/ferginzey.js') }}"></script>

    <!-- ChartJS -->
    <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
    <script>

        $().ready(function (){
            var ctx = $('#myChart');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [ {% for time in times%}{%if (loop.index0 != 0)%},{% endif %} "{{time['sample_timestamp'].strftime('%Y-%m-%d')}}"{% endfor %} ],
            datasets: [
                {% for location in env_summary %}
                {
                    label: '{{location}} Min Temp',
                    data: [ {% for envrow in env_summary[location] %}{%if (loop.index0 != 0)%},{% endif %}  {%if envrow.min_temperature is not none %} {{envrow.min_temperature}} {% endif %} {% endfor %} ],
                    borderWidth: 1,
                    fill: false,
                    pointStyle: getPointStyle('{{location}}'),
                    borderColor: "rgba(100, 190, 100, .4)",
                    yAxisID: 'temperature-y-axis'
                },
                {
                    label: '{{location}} Max Temp',
                    data: [ {% for envrow in env_summary[location] %}{%if (loop.index0 != 0)%},{% endif %} {%if envrow.max_temperature is not none %} {{envrow.max_temperature}}{% endif %}{% endfor %} ],
                    borderWidth: 1,
                    fill: false,
                    pointStyle: getPointStyle('{{location}}'),
                    borderColor: "rgba(231, 84, 0, .4)",
                    yAxisID: 'temperature-y-axis'
                },
            {
                label: '{{location}} Min Humid',
                    data: [ {% for envrow in env_summary[location] %}{%if (loop.index0 != 0)%},{% endif %}  {%if envrow.min_humidity is not none %} {{envrow.min_humidity}} {% endif %} {% endfor %} ],
                borderWidth: 1,
                fill: false,
                pointStyle: getPointStyle('{{location}}'),
                borderColor: "rgba(100, 190, 255, .4)",
                yAxisID: 'humidity-y-axis'
            },
            {
                label: '{{location}} Max Humid',
                    data: [ {% for envrow in env_summary[location] %}{%if (loop.index0 != 0)%},{% endif %} {%if envrow.max_humidity is not none %} {{envrow.max_humidity}}{% endif %}{% endfor %} ],
                borderWidth: 1,
                fill: false,
                pointStyle: getPointStyle('{{location}}'),
                borderColor: "rgba(231, 84, 255, .4)",
                yAxisID: 'humidity-y-axis'
            },
            {%endfor%}
        ]
        },
            options: {
                scales: {
                    yAxes: [
                        {
                            id: 'temperature-y-axis',
                            ticks: {
                                suggestedMin: 10,
                                suggestedMax: 50,
                                // beginAtZero: true
                            }
                        },
                        {
                            id: 'humidity-y-axis',
                            ticks: {
                                suggestedMin: 40,
                                suggestedMax: 70,
                                // beginAtZero: true
                            }
                        }
                    ]
                }
            }
        });
        });
    </script>

</head>
<body>
<div class="ferginzey_title">Ferginzeys' Daily Summary</div>
<div class="nav_links">
    <div class="nav_link"><a href="/homeServer/">Home Page</a></div>
    <div class="nav_link"><a href="/homeServer/hourlySummary">Hourly Summary</a></div>
</div>
<hr>
<div>
    <h3>Daily Temperature Summary</h3>
    <canvas id="myChart" width="400" height="250"></canvas>
</div>
<hr>
<a href="#" onclick="toggleVisibility('rawDataTable');">Show Data</a>
<div id="rawDataTable" class="table active" style="padding-left: 100px; display: none;">
    <div class="row">
        <div class="col-sm-1 number">Location</div>
        <div class="col-sm-2 number">Date</div>
        <div class="col-sm-1 number">Min Temp</div>
        <div class="col-sm-1 number">Max Temp</div>
        <div class="col-sm-1 number">Min Hum</div>
        <div class="col-sm-1 number">Max Hum</div>
        <div class="col-sm-1 number">Min Press</div>
        <div class="col-sm-1 number">Max Press</div>
    </div>
    {% for location in env_summary %}
    {% for envrow in env_summary[location] %}
    <div class="row">
        <div class="col-sm-1 number">{{envrow.sensor_location}}</div>
        <div class="col-sm-2 number">{{envrow.sample_timestamp.strftime('%Y-%m-%d')}}</div>
        <div class="col-sm-1 number">{{envrow.min_temperature}}</div>
        <div class="col-sm-1 number">{{envrow.max_temperature}}</div>
        <div class="col-sm-1 number">{{envrow.min_humidity}}%</div>
        <div class="col-sm-1 number">{{envrow.max_humidity}}%</div>
        <div class="col-sm-1 number">{{envrow.min_pressure}}</div>
        <div class="col-sm-1 number">{{envrow.max_pressure}}</div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
</body>
</html>