<!doctype html>
<html lang="en">
<head>
    <title>Ferginzeys' Home - Main Menu</title>
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ferginzey.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.min.css') }}"/>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ferginzey.js') }}"></script>

    <!-- ChartJS -->
    <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>

    <script>
        $().ready(function () {
            $("div.forecastTitle:contains('WARNING')").addClass("readingWarning");
            var value;
            $("div.dashboardHumidity").each(function() {
                value = parseFloat($(this).text());
                if (value > 55 && value < 60) { flagReading($(this), "readingWarning"); }
                else if (value >= 60) { flagReading($(this), "readingImportant"); }
            });
            $("div.dashboardTemp").each(function() {
                value = parseFloat($(this).text());
                if (value < 5 && value > 0) { flagReading($(this), "readingWarning"); }
                else if (value <= 0) { flagReading($(this), "readingImportant"); }
            });

            var warningTime = new Date();
            warningTime.setHours(warningTime.getHours() -1);
            var errorTime = new Date();
            errorTime.setDate(errorTime.getDate() -1);

            $("div.dashboardTimestamp").each(function() {
                value = new Date($(this).text().replace(/\..*$/, ""));

                if (value < warningTime && value > errorTime) { flagReading($(this), "readingWarning"); }
                else if (value < errorTime) { flagReading($(this), "readingImportant");}
            });
            tideChartsDiv = $("#tideChartsDiv");
            // Repeat
            stationId = "{{home_data.tide_data[0].station_id}}";
            tideChartsDiv.append('<div>{{home_data.tide_data[0].location}} (ft)</div>');
            tideChartsDiv.append("<div style='max-width: 600px'><canvas id='tides"+stationId+"' ></canvas></div>");
            ctx = $("#tides"+stationId);
            var tideChart = new Chart(ctx, {
                type: "line",
                data: {
                    datasets: [{
                            label: "height (ft)",
                            data: [{% for tide_entry in home_data.tide_data[0].tide_entries %}{% if (loop.index0 != 0) %}, {% endif %}{'x': new Date('{{ tide_entry.time }}'), 'y': {{ tide_entry.height_ft }} }{% endfor %}],
                            borderWidth: 1,
                            borderColor: 'rgba(10,90,255,.5)',
                            backgroundColor: 'rgba(10,90,255,.1)'
        }],
                },
                options: {
                    legend: {
                        show: false
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                displayFormats: {
                                    'hour': 'D MMM HH:00'
                                }
                            }
                        }]
                    }
                }
            });
            // End Repeat
        });

        var flagReading = function(field, warningClass)
        {
            field.addClass(warningClass);
            field.closest("div.dashboardItem").addClass(warningClass);
        }
        
        var updateSensorLocation = function (ipAddress) {
            var newLocation = $("#sensorLocationText_" + ipAddress).val();
            $.ajax({
                method: "GET",
                url: "http://" + ipAddress + "/updateConfig?physicalLocation=" + newLocation,
                success: function (msg) {
                    console.log(msg);
                    $("#resultMessage").text(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Ajax call failed: " + textStatus + ": " + errorThrown);
                    alert("Unable to update location.");
                }
            });
        }

        var toggleInactiveLocations = function()
        {
           $("div.dashboardItem.active_False").each(function() {
               if ($(this).is(":visible"))
               {
                   $(this).hide();
               }
               else
               {
                   $(this).show();
               }
           });
        }
    </script>
</head>
<body>
<div class="ferginzey_title">Ferginzeys' Home Data</div>
<div class="nav_links">
    <div class="nav_link"><a href="/homeServer/hourlySummary">Hourly Summary</a></div>
    <div class="nav_link"><a href="/homeServer/dailySummary">Daily Summary</a></div>
</div>
<hr>
<div>Current Interior Readings <div class="sectionToggle" style="display: inline;" title="Show/Hide inactive locations" onclick="toggleInactiveLocations();"><i class="glyphicon glyphicon-eye-close"></i></div></div>

<div class="dashboardContainer">
    {% for location in home_data.devices %}
    <div class="dashboardItem active_{{location.device_active}}" {%if not location.device_active %} style="display: none;" {%endif%}>
        <div style="margin-top: -5px">
            <div class="dashboardLocation"><a href="hourlySummary?locations={{location.sensor_location}}">{{location.sensor_location}}</a></div>
            <div class="dashboardIp">{{location.remote_address}}</div>
        </div>
        <div class="dashboardTemp">{{location.last_reading.temperature}}&deg;C</div>
        <div>
            <div class="dashboardHumidity">{{location.last_reading.humidity}}%</div>
            <div class="dashboardPressure">{{location.last_reading.pressure/10}} kPa</div>
        </div>
        <div class="smallDarkGray">Last seen:
            <div class="dashboardTimestamp">{{location.last_seen_timestamp}} </div>
            <div class="dashboardActive">({{location.device_active}})</div>
        </div>
        <div style="font-size: xx-small;" class="sectionToggle" onclick="toggleVisibility('config_{{location.remote_address | replace(".","_")}}')">Update Config
    </div>
    <div id="config_{{ location.remote_address| replace(".","_")}}" class="configControls" style="display: none;">
    <hr style="border-bottom: 5px;">
    <div>
        <input id="sensorLocationText_{{location.remote_address}}" type="text" value="{{location.sensor_location}}"/>
    </div>
    <div>
        <input id="publishHost_{{location.remote_address}}" type="text" value="{{location.remote_address}}"/>
    </div>
    <div>
        <input id="publishUrl_{{location.remote_address}}" type="text" size="30" value="/homeServer/logEnv?envJson="/>
    </div>
    </div>
</div>
{% endfor %}
</div>
<hr>
<div>Marine Weather</div>
<div class="dashboardContainer">
    {% for forecast in home_data.forecasts %}
    <div class="dashboardItem marineForecast">
        <div class="dashboardLocation marineLocation">{{forecast.location}}</div>
        {% for forecastEntry in forecast.forecastEntries %}
        <div class="marineForecastEntry">
            <div class="forecastTitle">{{forecastEntry.title}}</div>
            <div class="forecastText">{{forecastEntry.summary | safe}}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% for condition in home_data.current_conditions %}
    <div class="dashboardItem marineConditions">
        <div class="marineLocation">
            <div class="dashboardLocation">{{condition.station}}</div>
            <div class="marineArea">{{condition.location}}</div>
        </div>
        {% for conditionEntry in condition.conditionEntries %}
        <div class="marineConditionsEntry {%if (loop.index0 % 2 == 0) %}rowEven {% else %} rowOdd {% endif %}">
           <div class="dashboardHumidity">{{conditionEntry.title | safe}}</div>
           <div class="dashboardPressure">{{conditionEntry.value | safe}}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<hr>

<div id="tideChartsDiv" class="marineConditions">
    <div style="font-size: medium">Tide information</div>
</div>
</body>
</html>