<!doctype html>
<html lang="en">
<head>
    <title>Ferginzeys' Home - Main Menu</title>
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ferginzey.css') }}"/>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script>
        //var ipAddress = "{{ ip }}";
        //var ipAddress = "192.168.102.124";
        /*
        $().ready(function () {
            $("#sensorIp").text(ipAddress);
        });
         */
        var updateSensorLocation = function (ipAddress) {
            var newLocation = $("#sensorLocationText").val();
            $.ajax({
                method: "GET",
                url: "http://" + ipAddress + "/updateConfig?physicalLocation=" + newLocation,
                success: function (msg) {
                    console.log(msg);
                    $("#resultMessage").text(msg);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Ajax call failed: " + textStatus + ": " + errorThrown);
                    alert("Unable to update location.");
                }
            });
        }
    </script>
</head>
<body>
<div class="ferginzey_title">Ferginzeys' Home Data</div>
<div class="nav_links">
    <div class="nav_link"><a href="/homeServer/hourlySummary">Hourly Summary</a></div>
    <div class="nav_link"><a href="/homeServer/dailySummary">Daily Summary</a></div>
</div>
<hr>
<div>Current Readings</div>
{% for location in latest_env %}
<div class="env_reading_title">{{location.sensor_location}} ({{location.remote_address }})</div>
<div class="env_reading">
    <div class="env_title">Last Seen</div>
    <div class="env_value">{{location.last_seen_timestamp}}</div>
</div>
<div class="env_reading">
    <div class="env_title">Temperature</div>
    <div class="env_value">{{location.last_reading.temperature}}</div>
</div>
<div class="env_reading">
    <div class="env_title">Humidity</div>
    <div class="env_value">{{location.last_reading.humidity}}%</div>
</div>
<div class="env_reading">
    <div class="env_title">Pressure</div>
    <div class="env_value">{{location.last_reading.pressure}}</div>
</div>
<form>
    <div id="resultMessage" class="alert-success"></div>
    <label for="sensorLocationText">Sensor Location <span id="sensorIp">{{location.remote_address}}</span></label>
    <input id="sensorLocationText" type="text" value="{{location.sensor_location}}"/>
    <button class="btn btn-link" onclick="updateSensorLocation('{{location.remote_address}}'); return false;" value="Update Location"><span
            class="glyphicon glyphicon-refresh"></span></button>
</form>
<hr>
{% endfor %}
</body>
</html>