<!doctype html>
<html lang="en">
<head>
    <title>Ferginzeys' Home - Hourly Environment Data</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ferginzey.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Chart.min.css') }}"/>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/ferginzey.js') }}"></script>

    <!-- ChartJS -->
    <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>

    <script>

        $().ready(function (){
        var ctx = $('#myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [ {% for time in times%}{%if (loop.index0 != 0)%},{% endif %} "{{time['sample_timestamp'].strftime('%H:%M')}}"{% endfor %} ],
                datasets: [
                    {% for location in env_summary %}
                    {
                    label: '{{location}} Temp',
                    data: [
                        {% for time in times%}{%if time.sample_timestamp < env_summary[location][0].sample_timestamp %}, {% endif %}{% endfor %}
                        {% for envrow in env_summary[location] %}{%if (loop.index0 != 0)%},{% endif %}  {{envrow.temperature}} {% endfor %}
                    ],
                    borderWidth: 1,
                    fill: false,
                    borderColor: "rgba(231, 84, 0, .4)",
                    yAxisID: 'temperature-y-axis'
                    },
            {
                label: '{{location}} Humidity',
                    data: [
                      {% for time in times%}{%if time.sample_timestamp < env_summary[location][0].sample_timestamp %}, {% endif %}{% endfor %}
                      {% for envrow in env_summary[location] %}{%if (loop.index0 != 0)%},{% endif %} {{envrow.humidity}}{% endfor %}
                    ],
                    borderWidth: 1,
                    fill: false,
                    borderColor: "rgba(100, 190, 100, .4)",
                    yAxisID: 'humidity-y-axis'
            },
            {% if (env_summary[location]| map(attribute='pressure') | unique | list ) != [0.0] %}
            {
                label: '{{ location }} Pressure',
                    data: [
                {% for envrow in env_summary[location] %}{%if (loop.index0 != 0)%},{% endif %} {{envrow.pressure}}{% endfor %}
            ],
                borderWidth: 1,
                    fill: false,
                borderColor: "rgba(0, 0, 0, .4)",
                yAxisID: 'pressure-y-axis'

            },
            {% endif %}
            {%endfor%}
        ]
        },
            options: {
                scales: {
                    yAxes: [
                        {
                        id: 'temperature-y-axis',
                        ticks: {
                            suggestedMin: 10,
                            suggestedMax: 50,
                            // beginAtZero: true
                        }
                    },
                        {
                            id: 'humidity-y-axis',
                            ticks: {
                                suggestedMin: 40,
                                suggestedMax: 70,
                                // beginAtZero: true
                            }
                        },
                        {
                            id: 'pressure-y-axis',
                            position: 'right',
                            ticks: {
                                suggestedMin: 900,
                                suggestedMax: 1030,
                                // beginAtZero: true
                            }
                        }
                    ]
                }
            }
        });
        });
    </script>
</head>
<body>
<div class="ferginzey_title">Ferginzeys' Hourly Summary</div>
<div class="nav_links">
    <div class="nav_link"><a href="/homeServer/">Home Page</a></div>
    <div class="nav_link"><a href="/homeServer/dailySummary">Daily Summary</a></div>
</div>
<hr>
<div>
    <h3>Hourly Temperature Summary</h3>
    <canvas id="myChart" width="400" height="250"></canvas>
</div>
<hr>
<a href="#" onclick="toggleVisibility('rawDataTable');">Show Data</a>
<div id="rawDataTable" class="table active" style="padding-left: 100px; display: none;">
    <div class="row">
        <div class="col-sm-1 number">Location</div>
        <div class="col-sm-2 number">Sample Time</div>
        <div class="col-sm-1 number"># Samples</div>
        <div class="col-sm-1 number">Temperature</div>
        <div class="col-sm-1 number">Humidity</div>
        <div class="col-sm-1 number">Pressure</div>
        <div class="col-sm-1 number">Altitude</div>
    </div>
    {% for location in env_summary %}
    {% for envrow in env_summary[location] %}
    <div class="row">
        <div class="col-sm-1 number">{{envrow.sensor_location}}</div>
        <div class="col-sm-2 number">{{envrow.sample_timestamp}}</div>
        <div class="col-sm-1 number">{{envrow.reading_count}}</div>
        <div class="col-sm-1 number">{{envrow.temperature}}</div>
        <div class="col-sm-1 number">{{envrow.humidity}}%</div>
        <div class="col-sm-1 number">{{envrow.pressure}}</div>
        <div class="col-sm-1 number">{{envrow.altitude}}m</div>
    </div>
    {% endfor %}
    {% endfor %}
    <div class="row latest_reading">
        <div class="col-sm-1 number">{{latest_env.sensor_location}}</div>
        <div class="col-sm-2 number">{{latest_env.sample_timestamp}}</div>
        <div class="col-sm-1 number">1</div>
        <div class="col-sm-1 number">{{latest_env.temperature}}</div>
        <div class="col-sm-1 number">{{latest_env.humidity}}%</div>
        <div class="col-sm-1 number">{{latest_env.pressure}}</div>
        <div class="col-sm-1 number">{{latest_env.altitude}}m</div>
    </div>

</div>
</body>
</html>